[submodule "PPLKiller"]
	path = PPLKiller
	url = https://github.com/RedCursorSecurityConsulting/PPLKiller
[submodule "test"]
	path = test
	url = https://github.com/Tzaoh/test.git
[submodule "SharpHound"]
	path = SharpHound
	url = https://github.com/BloodHoundAD/SharpHound.git
